<div class="card">
    <div class="card-header">
        <nav class="navbar bg-light">
            <div class="container-fluid">
              <a class="navbar-brand">Rutas</a>
              <form class="d-flex">
                <a class="btn btn-outline-success" routerLink="/routes">Listado de Rutas</a>
              </form>
            </div>
          </nav>
    </div>
    <div class="card-body">
        <form action="" class="row g-3">
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect01">Conductor</label>
              <select class="form-select" id="inputGroupSelect01" [(ngModel)]="routerForm.full_name">
                <option *ngFor="let item of listDrivers" [value]="item.id">{{ item.full_name }}</option>
              </select>
            </div>
            <div class="form-floating">
              <input class="form-control" type="text" name="vehiculo" [(ngModel)]="routerForm.vehiculo"/>
              <label for="floatingTextarea">Vehiculo</label>
          </div>
          <div class="form-floating">
            <input class="form-control" type="text" name="description" [(ngModel)]="routerForm.description"/>
            <label for="floatingTextarea">Descripcion</label>
        </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button" (click)="editing ? updateRoute() : createRoute()">{{ editing ? 'Actualizar': 'Crear'}}</button>
            </div>
        </form>
    </div>
  </div>
