<div class="card">
    <div class="card-header">
        <header class="navbar">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Conductores</a>
            
            <div class="navbar-nav">
              <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="#">Nuevo Conductor</a>
              </div>
            </div>
          </header>      
    </div>
    <div class="card-body">
        <h5 class="card-title"></h5>
      <forms-driver></forms-driver>
    </div>
    <div class="card-footer">
        <h5 class="card-title">Listado de Conductores</h5>
        <list-driver></list-driver>
    </div>
</div>