<form>
    <div class="row g-3">
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nombres</span>
                <input type="text" class="form-control" aria-label="first_name" aria-describedby="basic-addon1">
              </div>
              
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Apellidos</span>
                <input type="text" class="form-control" aria-label="last_name" aria-describedby="basic-addon1">
              </div>          
        </div>
    </div>
    <div class="row g-3">
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">ssn</span>
                <input type="text" class="form-control" aria-label="ssn" aria-describedby="basic-addon1">
              </div>
              
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Fecha de Nacimiento</span>
                <input type="date" id="dob" class="form-control">
              </div>          
        </div>
    </div>
    <div class="row g-3">
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Direccion</span>
                <input type="text" class="form-control" aria-label="address" aria-describedby="basic-addon1">
              </div>
              
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Ciudad</span>
                <select class="form-select" id="city" aria-label="Default select example">
                    <option value="1">Oregon</option>
                    <option value="2">NewYork</option>
                    <option value="3">Alabama</option>
                  </select>
              </div>          
        </div>
    </div>
    <div class="row g-3">
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Codigo Postal</span>
                <input type="text" class="form-control" aria-label="zip" aria-describedby="basic-addon1">
              </div>
              
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Telefono</span>
                <input type="date" id="phone" class="form-control">
              </div>          
        </div>
    </div>
</form>