<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Modelo</th>
        <th scope="col">Funcion</th>
        <th scope="col">Capacidad</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-group-divider" *ngFor="let vehicle of listVehicles">
      <tr>
        <th scope="row">{{ vehicle.id }}</th>
        <td>{{ vehicle.description}}</td>
        <td>{{ vehicle.year}}</td>
        <td>{{ vehicle.make}}</td>
        <td>{{ vehicle.capacity}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-warning" [routerLink]="['/vehicles/edit', vehicle.id]">Editar</button>
              <button type="button" class="btn btn-danger" (click)="deleteVehicle(vehicle.id)">Eliminar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>